<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="menu.html">Menú</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="pedidos.html">Hacer un Pedido</a></li>
        </ul>
    </nav>

    <header>
        <h1>Flash Coffee</h1>
    </header>

    <section class="container">
        <div>
            <h2>An online coffee store</h2>
            <p>Coffee is a hug in a mug, a daily dose of magic that awakens the soul and fuels creativity, making mornings brighter and conversations warmer.</p>
        </div>
        
        <img src="https://i.pinimg.com/564x/5d/a5/6c/5da56cd1e61c2241520ac619edcb92b4.jpg" alt="coffee" class="img-coffee">
    
    </section>

    <footer>
        <p>&copy; 2023 Flash Coffee</p>
    </footer>
</body>
</html>
