<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Menú</title>
    <link rel="stylesheet" href="../static/css/menu.css">
</head>
<body>
    <div class="container">
        <h3>Flash Coffe</h3>
        <h1>Menú</h1>

        <div class="menu">
            <h2>Infusiones</h2>
            
            <h3>Café espresso: $100</h3>
            <p>Café de sabor intenso, elaborado con granos 50% colombianos y 50% brasileños.</p>
            
            <h3>Café doble: $150</h3>
            <p>Café de sabor intenso en tamaño más grande, elaborado con granos 50% colombianos y 50% brasileños.</p>
            
            <h3>Café flash: $170</h3>
            <p>Café de sabor y aroma frutal, elaborado con 3 variedades de granos colombianos, arábicos y brasileños.</p>
            
            <h3>Café mocha: $170</h3>
            <p>Café de sabor muy suave, nuestro mocha cuenta con 1/3 de espresso y 2/3 de leche vaporizada.</p>
            
            <h3>Cappuccino: $180</h3>
            <p>Un clásico italiano, espresso, chocolate y leche vaporizada.</p>

            <h2>Snacks</h2>
            
            <h3>Brownie de chocolate: $100</h3>
            <p>Delicioso brownie de chocolate con nueces, perfecto para acompañar tu café.</p>
            
            <h3>Alfajor de dulce de leche: $150</h3>
            <p>Clásico alfajor relleno de dulce de leche y cubierto con chocolate.</p>
            
            <h3>Scones de queso: $170</h3>
            <p>Scones horneados con queso cheddar, ideales para un bocado salado.</p>
            
            <h3>Coquitos: $170</h3>
            <p>Pequeños coquitos de coco, una dulce opción para acompañar tu café.</p>

            <div class="pedidos">
                <h2>Realiza tu pedido AQUÍ</h2>
                <a href="../templates/pedidos.html"  target="_blank" class="enlace">¡¡Hacé tu pedido!!</a>
            </div>
            
        </div>
</body>
</html>