<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/confirmacion.css">
    <title>Confirmación de Pedido</title>
</head>
<body>
    <div class="container">
        <h1>Confirmación de Pedido</h1>
        <div class="confirmacion">
            <p><strong>Nombre completo:</strong> <span id="nombre_completo"></span></p>
            <p><strong>Empresa:</strong> <span id="empresa"></span></p>
            <p><strong>Dirección:</strong> <span id="direccion"></span></p>
            <p><strong>Variedad de café:</strong> <span id="variedad_de_cafe"></span></p>
            <p><strong>Cantidad:</strong> <span id="cantidad"></span></p>
            <p><strong>Cupón de beneficio:</strong> <span id="cupon"></span></p>
        </div>
        <button id="volver">Volver</button>
    </div>
    <script src="../confirmacion.js"></script>
</body>
</html>
